@use "vars";
@use "mixins";
@use "funcs";

%marg0-pad0{
    margin: 0px;
    padding: 0px;     
}

%box-h-fit-content {
    box-sizing: border-box;    
    height: fit-content;
}

%flex-center {
    display: flex;    
    justify-content: center;
    align-items: center;
}

body{
    @extend %marg0-pad0;   
    font-size: vars.$base-font-size;      
}

main{
    @extend %marg0-pad0; 
    @extend %box-h-fit-content;
    font-family: 'Roboto';    
    width: 100vw;
    background-color: vars.$main-bg-color;
}

p{
    @extend %marg0-pad0;
}
/* first section */
/*****************/
.first-screen{
    @extend %box-h-fit-content;
    background-color: vars.$back-lgray;
    padding-top: 8vh;
    padding-left: 19vw;
    padding-bottom: 7vh;

}
.navmenu{
    display: flex;
    width: 61.8vw;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px 42px;
    @include mixins.responsive(375px) { 
        width: 31.8vw;
        gap: 5px;
        flex-direction: column;
      }
}
.navmenu_item{
    color: vars.$font-b;
    width: fit-content;
    @include mixins.font_w_s_lh ("0",1rem,26.25px);
    @include mixins.responsive(1024px) { 
        @include mixins.font_w_s_lh ("0",0.8rem,"0");        
      }        
    @include mixins.responsive(375px) { 
        @include mixins.font_w_s_lh ("0",0.5rem,"0"); 
      }   
      
    &:hover{
        color: vars.$back-blue;
        @include mixins.font_w_s_lh (500,"0","0"); 
    }      
}

.font_weight400{
    @include mixins.font_w_s_lh (400,"0","0");     
}

.fs_design{
    @include mixins.w_h (65vw,fit-content);
    margin-top: 16vh;
    @include mixins.font_w_s_lh (500,3rem,78.75px);        
    color: vars.$font-b; 
    @include mixins.responsive(1024px) { 
        margin-top: 12vh;        
        @include mixins.font_w_s_lh ("0",2rem,normal); 
      }   
    @include mixins.responsive(375px) { 
        margin-top: 3vh;        
        @include mixins.font_w_s_lh ("0",1.5rem,"0"); 
      }          
}

.fs_content{
    @include mixins.w_h (45%,6vh);    
    margin-top: 5vh;
    padding-bottom: 3vh;
    color: vars.$font-g;
    @include mixins.responsive(1024px) { 
        margin-top: 3vh; 
        @include mixins.w_h (80%,10vh);               
      }     
      @include mixins.responsive(375px) { 
        margin-top: 2vh; 
        @include mixins.w_h (80%,9vh);  
        @include mixins.font_w_s_lh ("0",0.8rem,"0");                      
      }       
}

.fs_button{
    @include mixins.w_h (225px,65px);
    @extend %flex-center;
    margin-top: 4vh;
    text-align: center;
    background-color: vars.$back-blue;
    color: vars.$font-w;
    @include mixins.responsive(375px) {  
        @include mixins.w_h (70%,6vh);  
        @include mixins.font_w_s_lh ("0",0.9rem,"0");                        
      }     
}
/********************/
/* About me section */
/********************/
.about_me{
    box-sizing: border-box;    
    @include mixins.w_h (540px,147px);  
    @extend %flex-center;
    flex-direction: column;    
    margin-top: 8vh;
    justify-self: center;
    gap: 5vh;
    @include mixins.responsive(1024px) { 
        margin-top: 7vh;        
        @include mixins.w_h (55%,12vh);    
    }
    @include mixins.responsive(375px) { 
        margin-top: 7vh;        
        @include mixins.w_h (80%,12vh);    
    } 
}   
.about_header{
    padding-top: 5vh;    
    @include mixins.font_w_s_lh (500,2rem,37.5px);      
    text-align: center;
    color: vars.$font-b; 
    @include mixins.responsive(1024px) {        
        @include mixins.font_w_s_lh ("0",1.75rem,"0");    
    }   
    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",1.5rem,"0");    
    }            
}
.about_content{
    @include mixins.font_w_s_lh (400,1rem,26.25px);    
    text-align: center;    
    color: vars.$font-g;  
    @include mixins.responsive(1024px) {        
        @include mixins.font_w_s_lh ("0",0.9rem,20.25px);    
    }   
    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",0.8rem,normal);    
    }       
}
/*******************/
/* numbers section */
/*******************/
.numbers{
    margin-top: 100px;
    @include mixins.w_h (100%,250px);    
    @extend %flex-center;     
    flex-wrap: wrap;    
    gap: 10px 45px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: vars.$back-blue;    
    @include mixins.responsive(375px) {        
        overflow: auto;    
    }      
}

.num_item{
    @include mixins.w_h (141px,50px);     
    display: flex;
    column-gap: 20px;
}
.num_image{
    @include mixins.w_h (50px,50px);  
    background-image: url(/res/proj_icon.svg);
}
.num_digits{
    @include mixins.font_w_s_lh (500,21px,24.61px);

    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",1.2rem,normal);    
    }     
}
.num_content_group{
    @include mixins.w_h (71px,44px);      
    color: vars.$font-w; 
}
.num_text{
    @include mixins.font_w_s_lh (400,1rem,26.25px);         
    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",0.9rem,normal);    
    }      
}
/*****************/
/* video section */
/*****************/
.video{
    @extend %box-h-fit-content;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: vars.$back-lgray;
    justify-items: center;
    @include mixins.responsive(1024px) {        
        padding-top: 4vh;   
    }      
}
.video_title{
    @include mixins.w_h (540px,147px);     
    @include mixins.responsive(1024px) {        
        @include mixins.w_h (75%,fit-content);    
    }  
    @include mixins.responsive(375px) {        
        @include mixins.w_h (80%,fit-content);      
    }      
}

.video_head{
    @include mixins.font_w_s_lh ("0",2rem,37.5px);
    text-align: center;
    color: vars.$font-b;
    @include mixins.responsive(1024px) {        
        font-size: 1.7rem;
        margin-top: 0px; 
        margin-block-end: 0.5em;     
    }
    @include mixins.responsive(375px) {        
        margin-top: 0px;        
        font-size: 1.5rem;
        margin-block-end: 0.3em;    
    }         
}

.video_cont{
    @include mixins.font_w_s_lh (400,1rem,26.25px);    
    text-align: center;    
    color: vars.$font-g;
    @include mixins.responsive(1024px) {        
        @include mixins.font_w_s_lh ("0",0.9rem,normal);    
    }  
    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",0.85rem,"0");    
    }       
}

.video_img{
    margin-top: 5vh;
    @include mixins.w_h (58vw,funcs.calculate-video-h(58vw));    
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    background-color: #000000A6;
    background-image: url(/res/back_img_video.jpg);   
    background-size: 100% 100%;
    justify-content: center;
    @include mixins.responsive(1024px) {        
        @include mixins.w_h (68vw,funcs.calculate-video-h(68vw));  
    }  
    @include mixins.responsive(375px) {        
        @include mixins.w_h (88vw,funcs.calculate-video-h(88vw));  
    }      
}

.video_button{  
    @include mixins.w_h (7vw,7vw);
    background-image: url(/res/play-button.svg);    
    background-size: 100% 100%;
    align-self: center;
}
/*********************/
/* footer me section */
/*********************/
.footer{
    @extend %box-h-fit-content;
    padding-left: 19vw;
    padding-top: 4vh;    
    padding-bottom: 4vh;    
    background-color: vars.$back-blue;
}

.f_name{ 
    @include mixins.font_w_s_lh (500,1.3125rem,24.61px);      
    color: vars.$font-w;
    @include mixins.responsive(375px) {        
        font-size: 1rem;  
    }     
}

.f_copyright{  
    margin-top: 20px;  
    @include mixins.font_w_s_lh (400,0.8125rem,21.33px);         
    color: vars.$font-w;
    @include mixins.responsive(375px) {        
        @include mixins.font_w_s_lh ("0",0.7rem,normal);  
    }    
}