p, main, body {
  margin: 0px;
  padding: 0px;
}

.footer, .video, .first-screen, main {
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

.numbers, .about_me, .fs_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 16px;
}

main {
  font-family: "Roboto";
  width: 100vw;
  background-color: #F9F9F9;
}

/* first section */
/*****************/
.first-screen {
  background-color: #EEEFF1;
  padding-top: 8vh;
  padding-left: 19vw;
  padding-bottom: 7vh;
}

.navmenu {
  display: flex;
  width: 61.8vw;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px 42px;
}
@media (max-width: 375px) {
  .navmenu {
    width: 31.8vw;
    gap: 5px;
    flex-direction: column;
  }
}

.navmenu_item {
  color: #000000;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  line-height: 26.25px;
}
@media (max-width: 1024px) {
  .navmenu_item {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  .navmenu_item {
    font-size: 0.5rem;
  }
}
.navmenu_item:hover {
  color: #34547A;
  font-weight: 500;
}

.font_weight400 {
  font-weight: 400;
}

.fs_design {
  width: 65vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 16vh;
  font-weight: 500;
  font-size: 3rem;
  line-height: 78.75px;
  color: #000000;
}
@media (max-width: 1024px) {
  .fs_design {
    margin-top: 12vh;
    font-size: 2rem;
    line-height: normal;
  }
}
@media (max-width: 375px) {
  .fs_design {
    margin-top: 3vh;
    font-size: 1.5rem;
  }
}

.fs_content {
  width: 45%;
  height: 6vh;
  margin-top: 5vh;
  padding-bottom: 3vh;
  color: #727272;
}
@media (max-width: 1024px) {
  .fs_content {
    margin-top: 3vh;
    width: 80%;
    height: 10vh;
  }
}
@media (max-width: 375px) {
  .fs_content {
    margin-top: 2vh;
    width: 80%;
    height: 9vh;
    font-size: 0.8rem;
  }
}

.fs_button {
  width: 225px;
  height: 65px;
  margin-top: 4vh;
  text-align: center;
  background-color: #34547A;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .fs_button {
    width: 70%;
    height: 6vh;
    font-size: 0.9rem;
  }
}

/********************/
/* About me section */
/********************/
.about_me {
  box-sizing: border-box;
  width: 540px;
  height: 147px;
  flex-direction: column;
  margin-top: 8vh;
  justify-self: center;
  gap: 5vh;
}
@media (max-width: 1024px) {
  .about_me {
    margin-top: 7vh;
    width: 55%;
    height: 12vh;
  }
}
@media (max-width: 375px) {
  .about_me {
    margin-top: 7vh;
    width: 80%;
    height: 12vh;
  }
}

.about_header {
  padding-top: 5vh;
  font-weight: 500;
  font-size: 2rem;
  line-height: 37.5px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .about_header {
    font-size: 1.75rem;
  }
}
@media (max-width: 375px) {
  .about_header {
    font-size: 1.5rem;
  }
}

.about_content {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26.25px;
  text-align: center;
  color: #727272;
}
@media (max-width: 1024px) {
  .about_content {
    font-size: 0.9rem;
    line-height: 20.25px;
  }
}
@media (max-width: 375px) {
  .about_content {
    font-size: 0.8rem;
    line-height: normal;
  }
}

/*******************/
/* numbers section */
/*******************/
.numbers {
  margin-top: 100px;
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  gap: 10px 45px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #34547A;
}
@media (max-width: 375px) {
  .numbers {
    overflow: auto;
  }
}

.num_item {
  width: 141px;
  height: 50px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.num_image {
  width: 50px;
  height: 50px;
  background-image: url(/res/proj_icon.svg);
}

.num_digits {
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
}
@media (max-width: 375px) {
  .num_digits {
    font-size: 1.2rem;
    line-height: normal;
  }
}

.num_content_group {
  width: 71px;
  height: 44px;
  color: #FFFFFF;
}

.num_text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26.25px;
}
@media (max-width: 375px) {
  .num_text {
    font-size: 0.9rem;
    line-height: normal;
  }
}

/*****************/
/* video section */
/*****************/
.video {
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: #EEEFF1;
  justify-items: center;
}
@media (max-width: 1024px) {
  .video {
    padding-top: 4vh;
  }
}

.video_title {
  width: 540px;
  height: 147px;
}
@media (max-width: 1024px) {
  .video_title {
    width: 75%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 375px) {
  .video_title {
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.video_head {
  font-size: 2rem;
  line-height: 37.5px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .video_head {
    font-size: 1.7rem;
    margin-top: 0px;
    margin-block-end: 0.5em;
  }
}
@media (max-width: 375px) {
  .video_head {
    margin-top: 0px;
    font-size: 1.5rem;
    margin-block-end: 0.3em;
  }
}

.video_cont {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26.25px;
  text-align: center;
  color: #727272;
}
@media (max-width: 1024px) {
  .video_cont {
    font-size: 0.9rem;
    line-height: normal;
  }
}
@media (max-width: 375px) {
  .video_cont {
    font-size: 0.85rem;
  }
}

.video_img {
  margin-top: 5vh;
  width: 58vw;
  height: 31.3513513514vw;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.6509803922);
  background-image: url(/res/back_img_video.jpg);
  background-size: 100% 100%;
  justify-content: center;
}
@media (max-width: 1024px) {
  .video_img {
    width: 68vw;
    height: 36.7567567568vw;
  }
}
@media (max-width: 375px) {
  .video_img {
    width: 88vw;
    height: 47.5675675676vw;
  }
}

.video_button {
  width: 7vw;
  height: 7vw;
  background-image: url(/res/play-button.svg);
  background-size: 100% 100%;
  align-self: center;
}

/*********************/
/* footer me section */
/*********************/
.footer {
  padding-left: 19vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: #34547A;
}

.f_name {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 24.61px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .f_name {
    font-size: 1rem;
  }
}

.f_copyright {
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 21.33px;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .f_copyright {
    font-size: 0.7rem;
    line-height: normal;
  }
}/*# sourceMappingURL=main.css.map */