@mixin w_h ($wi,$hi) {
    width: $wi;
    height: $hi;
}

@mixin font_w_s_lh ($fw,$fs,$lh) {
 
    @if $fw != "0" {
        font-weight: $fw;
    } 
    @if $fs != "0" {
        font-size: $fs;
    } 
    @if $lh != "0" {   
        line-height: $lh;
    }
}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
  