$font-black:   #000000; 
$font-gray:    #727272; 
$font-white:   #FFFFFF;  
$back-blue:    #34547A;
$back-lgray:   #EEEFF1; 
$main-bg-color:#F9F9F9;   
$base-font-size: 16px;
$base-line-h:    26.25px;