<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="icon" href="/pics/favicon.ico" type="image/x-icon"> 
  </head>
  <body>
    <h1> <img src="/pics/icons8-express-js-50.png" alt="express js"> <%= name %></h1>  
    <span><%= content %></span>
    <br/>
    <a href="/">to main page</a> 
  </body>
</html>