doctype html
html
  include head.pug

  body
    br
    h1(class='text-red')='Operations to test:'
    br
    ul
      li
        a(class='text-green i-bold' href='/db-crud/insertOne') Insert one example
      li
        a(class='text-green i-bold' href='/db-crud/insertMany') Insert many example
      li
        a(class='text-green i-bold' href='/db-crud/updateOne') Update one example
      li
        a(class='text-green i-bold' href='/db-crud/updateMany') Update many example
      li
        a(class='text-green i-bold' href='/db-crud/replaceOne') Replace one example     
      li
        a(class='text-green i-bold' href='/db-crud/deleteOne') Delete one example   
      li
        a(class='text-green i-bold' href='/db-crud/deleteMany') Delete many example
      li
        a(class='text-green i-bold' href='/db-crud/findWithProjection') Find with projection example          
    br
  include footer.pug