doctype html
html
  include head.pug

  body
    br
    h1(class='text-green')= 'User '+ userID + '. Page views count ' + viewCount
    br
    p#userId(class='i-bold')= 'UserID is ' + userID
    p#userName(class='i-bold')= 'Name is ' + userName
    br
  include footer.pug