.mainconteiner{
    margin: 5px;
    padding: 5px;
}

.base-box{
    width: 50%;
    height: 50vh;
    background-color: darkgray;
}
.txt-color-red-bold{
    color: red;
    font-weight: bold;
}
.back-color-green{
    background-color: green;
    border: 2px solid black;
    border-radius: 3px;
}
.w100-h50{
    width: 100px;
    height: 50px;
}
.txt-color-red-bold a{
    color: chartreuse;
}
.box-m10-p10-b{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.box-m10-p10-c{
    margin: 10px;
    padding: 10px;
    box-sizing: content-box;

}
.disp-blk{
    display: block;
}
.disp-inl{
    display: inline;
}
.disp-inl-blk{
    display: inline-block;
    margin: 10px 0px 10px;
}

.disp-flx{
    display: flex;
}
.bord-5{
    border: 2px solid purple;
}