
.def-box{    
  margin: 10px;
  width: 100px;
  height: 50px;
}

.b1{
    background-color: red;
}
.b2{
    background-color: green;     
}
.def-box.bHx2{
  height: calc(100% - 20px);
}
.def-box.mar-0-pad-5{
  margin: 0px;
  padding: 10px 0px 10px;
}
div {
  border: 1px solid black;
}
.par{
    width: 80%;
    height: 74px;
    border: 2px solid black;
    margin-top: 15px;
    overflow: hidden;
}
.Hx2{
  height: 200px;
}
* {
    box-sizing: border-box; 
  }

.double-box{
  width: 120px;
  height: calc(100% - 20px);
  border: none;
  margin: 10px;

}  
div .inner{
  width: 100%;
  height: 49%;
}
div .mar-bot5{
  margin: 0px 0px 5px 0px; 
}
div .mar-top5{
  margin: 5px 0px 0px 0px;  
}
.order1{
  order: 1;
}
.fl-l{
  float: left;
}
.fl-r{
  float: right;
}
div .long-mar-left{
  margin-left: calc(100% - 110px - 140px);
}

div .mid-mar-l{
  margin-left: calc(50% - 110px);
}

  .container {
    width: 100vw;
    height: 100vh;
    margin: 15px; 
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main {
    width: calc(100% - 450px - 40px); /* Ширина основного блоку враховує ширину лівого і правого блоку, а також їхні відступи */
    background-color: #f3f3f3; /* Колір фону основного блоку */
    margin-left: 220px; /* Забезпечуємо місце для лівого блоку */
  }