doctype html
html
  include head.pug

  body
    br
    h1(class='text-red') Main page
    br
    ul
      li
        a(class='text-red i-bold' href='/signin') Sign in/logout with Passport            
      li
        a(class='text-green i-bold' href='/login') Login with JWT
      li
        a(class='text-red i-bold' href='/users') Users protected by Passport
      li
        a(class='text-green i-bold' href='/articles') Articles protected by JWT
      li
        a(class='text-green i-bold' href='/listcol') List of collection from DB and films      
      li
        a(class='text-green i-bold' href='/db') DB operations examples        
    br
  include footer.pug